:root{
    --primary-color: #1e3a8a;
    --primary-text-color: white;
    --secondary-color: white;
    --background-color: #e6e6e6;
    --sidebarH1-font: 2rem;
    --sidebar-font: 1.3rem;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(1, minmax(200px, 280px)) 4fr;
    grid-template-rows: auto auto 1fr;
}

/* SideBar */
.sidebar{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 25px;
}

.header{
    display: flex;
    align-items: center;
    padding: 25px 0px;
    padding-left: 20px;
    gap: 5px;
}

.header > span{
    font-size: 2.5rem;    
}

.header > h1{
    font-size: var(--sidebarH1-font);    
}

.sidebarClass1, .sidebarClass2{
    font-size: var(--sidebar-font);
    font-weight: 600;
    padding-left: 26px;
}

.sidebarMenu1 > li span, .sidebarMenu2 > li span{
    font-size: 1.8rem;
}

.sidebar ul li{
    list-style: none;
    padding: 10px 0px;
}

.sidebar a:link, .sidebar a:visited{
    color: var(--primary-text-color);
    text-decoration: none;
}

.sidebarLink{
    display: flex;
    align-items: center;
    gap: 15px;
}


/*  Nav Bar */
.nav{
    background-color: var(--secondary-color);
    grid-column: 2/4;
    display: flex;
    gap: 35px;
    padding: 25px 45px;
}


.navLeft, .navRight{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navRight{
    gap: 2rem;
}

.searchIcon, .notificationIcon {
    display: flex;
    align-items: center;
}

.searchIcon span, .notificationIcon span{
    font-size: 2rem;
}

.navLeft{
    flex: 1;
}

.nav input{
    flex: 1;
    border-radius: 45px;
    border: none;
    width: 100%;
    background-color: var(--background-color);
    padding: 10px 20px;
}

.profilePhoto img{
    width: 2.6rem;
}

.profileName h3{
    font-size: 1.4rem;
}




/* Main Menu */
.menu
{
    background-color: var(--secondary-color);
    grid-column: 2/4;
    display: flex;
    align-items: center;
    padding: 25px 45px;
}

.menu1{
    flex: 1;
    display: flex;
    gap: 25px;
}

.profileMainPhoto img{
    width: 5rem;
}

.menu2{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    border: none;
}

.menu2 button{
    padding: 10px 30px;
    border: none;
    border-radius: 45px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.menu2 button:hover{
    background-color: #486bca;
}





.content{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.contentBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}