* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 1/4;
}

.nav{
    background-color: blue;
    grid-column: 2/4;
    display: flex;
}

.navLeft, .navRight{
    display: flex;
}

.navLeft{
    flex: 1;
}

.navRigth{
    flex: 1;
    justify-content: flex-end;
}

.menu{
    background-color: green;
    grid-column: 2/4;
}

.content{
    background-color: yellow;
}